html, body {
    height: 100%;
}

body {
    background-image: url(ImageFiles/0_Background_Flourish.png);
    margin: 2vh 5vw 1vh 0px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    padding: 0px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 4vw 0px 4vw;
}

.setUpText {
    text-align: left;
    margin: 4vh 15vw 0px 3vw;
    width: 84vw;
    height: 30vh;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: #346925;
    letter-spacing: .25vw;
    font-size: 4.5vh;
    margin-bottom: 2.5vh;
}

.introParagraph {
    font-family: 'Open Sans', sans-serif;
    color: #360D0D;
    font-size: 3vh;
    letter-spacing: 0.15vw;
    line-height: 5vh;
}

.plantButtonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: -2vh;
}

.plantButtonWrapper img {
    display: block;
    width: 100%;
    margin-top: -6vh;
}

.plantButton {
    text-decoration: none;
    
}

.plantButton :hover {
    background-color:#346925;
    color: #FAFEFF;
}

.options {
    justify-content: center;
}

.options p {
    margin: 3vh auto 2vh auto;
}


.plant-button-text {
    font-family: 'Merriweather', serif;
    font-size: 3vh;
    font-weight: normal;
    padding: 1.5vh;
    line-height: 4vh;
}

.button-text-wrapper {
    background-color: #FAFEFF;
    color:#346925;
    border-radius: 1.5vh;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .16);
    width: 75%;
    margin: 0px 0px 0px 3.5vw;
}

.button-text-wrapper :hover {
    background-color: #346925;
    color:#FAFEFF;
    border-radius: 1.5vh;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .16);
}

.button-text-wrapper :hover >span{
    box-shadow: none;
}

.inactive{
    pointer-events: none;
}